:root{
  --clr-accent-100: hsl(13, 100%, 96%);
  --clr-accent-400: hsl(12, 88%, 59%) ;
  --clr-primary-400:hsl(228, 39%, 23%) ;
 
 
  --clr-neutral-100: hsl(233, 12%, 13%);
  --clr-neutral-900:hsl(0, 0%, 98%);
  --ff-primary: 'Be Vietnam Pro', sans-serif;
  --ff-body: var(--ff-primary);
  --ff-heading:var(--ff-primary);
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;


}

/* Remove default margin */
*{
  margin: 0;
  padding: 0;
  font: inherit;
  font-family: 'Noto Kufi Arabic', sans-serif;
  scroll-behavior: smooth;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}
html,
body{

}


/* Set core body defaults */
body {
  
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
  
}

/* Inherit fonts for inputs and buttons */


/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    
    
    
  }



 body{
  background-color: var(--clr-accent-100);
 
  
}


  
}

 .nav-container{
 width: 100vw;
 position: fixed;
  z-index: 1;
  background-color:hsl(233, 12%, 13%);
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
 
 
 
  
  color: var(--clr-neutral-900);
 
  
 }

 #nav-main-text{
 
  font-size: 30px;
 margin-right: 20px;
 }

 #nav-button{
  display: inline-block;
  
 
  color: white;
  
  border-radius: 10px;
  height: 30px;
  
  width: 200px;
  text-align: center;
  
 text-decoration: none;
 
  
  background-color:  #ef7d86;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  
}

#nav-button:hover{
  box-shadow: 5px  5px   20px   rgba(0, 0, 0, 0.349);
  background-color: rgb(245, 185, 20);
  transition:  0.6s ease-in-out;
  -webkit-transition:  0.6s ease-in-out;
  -moz-transition:  0.6s ease-in-out;
  -ms-transition:  0.6s ease-in-out;
  -o-transition:  0.6s ease-in-out;
}


 .nav-list{
  list-style: none;
  display: flex;
  gap: 15px;
 align-items: center;
 margin-right: auto;
 padding-left: 10px;
 
 

 }

 .nav-list li a
 {
  color: #ffffff;
  text-decoration-line: none;
  -moz-text-decoration-line: none;
}

 .hero{
 
  display: flex;
  

position: relative;
  justify-content: center;
  align-items: center;

 
  
  

 }
.hero-image{
 
  object-fit: cover;
  transform:scale(0.999) ;
  animation: opning 3s ease-in-out forwards;
  opacity: 0;
  animation: hero-scale 50s ease-in-out forwards ;
  box-shadow: 0px 0px 10px;
  -webkit-transform:scale(0.999) ;
  -moz-transform:scale(0.999) ;
  -ms-transform:scale(0.999) ;
  -o-transform:scale(0.999) ;
  -webkit-animation: opning 3s ease-in-out forwards;
}

 @keyframes opning {

  0%{
   background-color: black;
   
   transform:translatey(10px);
   
}
100%{opacity: 1;}
 }
@keyframes hero-scale {
  100%{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
}





 .hero-text
 {

  font-size: 200px;
  color: var(--clr-neutral-900);
  position: absolute;
  
  top: 400px;

 }

.hero-sub-text{
  font-size: 70px;
  color: var(--clr-neutral-900);
  position: absolute;
  top: 650px;
  opacity: 0;
  animation: hero-sub-text  3s ease-in-out 2s;
  -webkit-animation: hero-sub-text  3s ease-in-out 2s forwards;
}

@keyframes hero-sub-text {

  100%{opacity: 1;}
  
}

 
 .hero-sub-button-div{
 
  position: absolute;
  top: 780px;
  text-align: center;
 
}

#hero-sub-button{
  display: inline-block;
  padding: 10px;
  color: white;
  border: 1px solid whitesmoke;
  border-radius: 10px;
  height: 50px;
  width: 230px;
  
  
 text-decoration: none;
  opacity: 0;
  
  background-color:  #ef7d86;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  animation: hero-sub-button 3s ease-in-out forwards;
  -webkit-animation: hero-sub-button 2s ease-in-out 3s forwards;
}

#hero-sub-button:hover{
  box-shadow: 5px  5px   20px   rgba(0, 0, 0, 0.349);
  background-color: rgb(245, 185, 20);
  transition:  0.3s ease-in-out;
  -webkit-transition:  0.3s ease-in-out;
  -moz-transition:  0.3s ease-in-out;
  -ms-transition:  0.3s ease-in-out;
  -o-transition:  0.3s ease-in-out;
}

@keyframes hero-sub-button{

 50%{opacity: 0.5;}
  100%{opacity: 1;}
  
}

#features 
{
  margin-top: 200px;
}

#plans{
  margin-top: 300px;
}

#testemonials{
  margin-top: 300px;
}
.features-container
{
  gap: 170px;
  margin-top: 100px;
  padding-left: 200px;
  display: grid;
  grid-template-rows:100% ;
  grid-template-columns: 250px 250px 250px ;
 justify-content: center;
 
 
 margin-right: 300px;

  
}



.feature-box
{
 
  display: flex;
flex-direction: row-reverse ;
flex-wrap: wrap;

  list-style: none;
  color: #ef7d86;
  height: 200px;
  width: 300px;
  align-items: flex-start;
  justify-content: flex-start;
 }


#features-image{
  width: 80px;
  margin-left: 9px;
  align-self: flex-start;
}

#features-text{
  font-size: 2rem;

}


#features-sub-text{
  text-align: end;
  font-size: 19px;

}

.palns-name{
  color: #fff6f7;
  text-align: center;
  font-size: 2rem;
}
.plans-containers{
  
  line-height: 40px;
  text-align: end;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  align-items: center;
  gap: 30px;

}
.plans-containers li{
  
  list-style: none;
}

.plans-containers li h3   {

  text-align: center;
  font-size: 1.6rem;
}

.plans-containers li button{
  border: none;
  box-shadow: 1px 3px 1px  rgba(255, 255, 255, 0.671);
  background-color: #ffffff;
  color: #973f46;
  font-size: 1.1rem;
  margin-top: 10px;
  border-radius: 20px;
  width: 100%;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

#plans-boxes
{
 padding: 50px;
 width: 250px;
 min-height: 100px;
 background-color:#ef7d86;
 box-shadow: 2px 1px 3px  rgba(2, 2, 2, 0.575);
 border-radius: 15px;
 border: none ;
 transition:1s  ease ;
 -webkit-transition:1s  ease ;
 -moz-transition:1s  ease ;
 -ms-transition:1s  ease ;
 -o-transition:1s  ease ;
}

#plans-boxes:hover
{
  transform: scale(1.1);
  background-color: rgb(245, 185, 20);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}


.container-header
 {
  margin-top: 90px;
  margin-bottom: 90px;
color: #ef7d86;
  font-size: 40px;
position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
 }

 .container-header::after
 {
  content: "";
  position: absolute;
  top: 60px;
  width: 500px;
  height: 1px;
  background-color: #ef7d86;
  border-radius: 1px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
}


 .main-1-container{
  margin-left: 10px;
  margin-right: 10px;
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
  
  
  justify-content: space-around;
  align-items: center;
  
 }
 
.main-container-list
{ 
  transform-style: preserve-3d;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: right;
  background-color:rgb(231, 133, 138);
  border-radius: 20px;
  box-shadow:  2px 2px 2px 3px rgba(104, 55, 57, 0.664);
  width: 400px;
  height: 200px;
  list-style: none;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
}

#line-in-box
{
position: absolute;
}

#main-container-image{
  
 margin-right: 3px;
 margin-top: 3px;
 width: 80px;
 height: 80px;
 position: relative;
 

 

}

#name-container-1{
 
  
  align-self: center;
  color: var(--clr-neutral-900) ;
 
}

#main-container-opnion
{
  transform-style: preserve-3d;

  padding-left: 12px;
  align-self: center;
  width: fit-content;
  color: var(--clr-neutral-900) ;
}


.footer-container{
background-color: #1d1e25;
width: 100%;
color: #fff6f7;
overflow: hidden;
position: relative;
display: flex;
box-shadow:  0px -3px 7px rgba(0, 0, 0, 0.267);
min-height: 200px;
margin-top: 100px;
justify-content: space-between;
align-items: center;

}

.footer-container h2{
  font-size: 3rem;
  align-content: flex-end;

}

.footer-container__list{
  line-height: 25px;
justify-self: center;
text-align: center;
gap: 10px;
overflow: hidden;
list-style: none;
}

.nav-toggl-container{display: none;}



@media screen and (max-width:450px) {
  .hero img , .hero h2 , .hero h3 , .hero a , #hero-sub-button{
  display: none;
  }
  
  .features-container{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #features 
{
  
  margin-top: 100px;
}

#plans{
  margin-top: 100px;
}

#testemonials{
  margin-top: 100px;
}

.menue-log{
  background-color: #dad2d2;
 
  
  width: 30px;
  height: 3px;
  
  z-index: 50;
}


.menue-log-container{
  z-index: 50;
  top: 10px;
  cursor: pointer;
  position: fixed;
 overflow: auto;
  width: 90%;
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  
  margin: 0 auto;
  height: 25px;
  width: 40px;
 
}
.nav-container{
  height: 51vh;
  width: 100%;
  position:absolute;
  flex-direction: column-reverse;
  justify-content: flex-end;
  position: fixed;
  margin: 0;
  padding: 0;
  transition: 0.5s ease-in-out;
  opacity: 0;
  transform: translateX(-500px);
  -webkit-transform: translateX(-500px);
  -moz-transform: translateX(-500px);
  -ms-transform: translateX(-500px);
  -o-transform: translateX(-500px);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
}

.show-menue{
  opacity: 1;
  transform: translateX(0px);
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
}

#nav-main-text{
  margin: 0;
  text-align: right;
  margin-bottom: 60px;
}
.nav-list{
  flex-direction: column-reverse;
 text-align: left;
 margin: 0;
 padding: 0;
  gap: 30px;
}




.container-header::after{
  width: 50vw;
}

}